<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: red;
            font-family: Arial, sans-serif;
        }

        h1 {
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
    <title>Error Page</title>
</head>

<body>
    <div>
        <h1><%= error %></h1>
        <button onclick="document.location = '/'">Go Back</button>
    </div>
</body>

</html>
